@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* RTL Support */
[dir='rtl'] {
  direction: rtl;
}

[dir='ltr'] {
  direction: ltr;
}

/* Leaflet Map Styles */
.leaflet-container {
  z-index: 1;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}